---
title: Getting started with jQuery.countdown
---
<!--iframe src="http://hilios.github.io/jQuery.countdown/preview.html"
    allowtransparency="true" frameborder="0" scrolling="0" width="650" height="430"></iframe-->
<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}stylesheets/main.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}javascripts/jquery.countdown.min.js"></script>
</head>
<body class="iframe">
{%include getting-started.html %}
{% highlight html linenos %}{%include getting-started.html %}{% endhighlight %}
</body>
</html>