---
layout: default
title: The Final Countdown
---
<header class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>{{ site.name }}</h1>
                <p>A simple and html agnostic date countdown plugin for jQuery</p>
                <p>{% include github-buttons.html %}</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="https://github.com/hilios/jQuery.countdown/releases/download/2.0.2/jquery.countdown-2.0.2.zip">
                        <i class="glyphicon glyphicon-floppy-save"></i>
                        Download now
                    </a>

                    <a class="btn btn-primary btn-lg" href="https://github.com/hilios/jQuery.countdown">
                        <i class="icon-github"></i>
                        View on GitHub
                    </a>
                </p>
            </div>
            <div class="col-md-5 hidden-xs hidden-sm">
                <iframe width="100%" height="315" src="//www.youtube.com/embed/9jK-NcRmVcw" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row getting-started">
        <div class="col-md-5">
            <h2>All in one ... countdown styles</h2>
            <p class="lead">
                Take control of your DOM, register yours callbacks and start counting...
            </p>
            <p>
                The Final Countdown is a plugin tailored to be used in any layout, without worring with CSS of HTML. The design goal was to fit and mimic differents countdown styles as you see out there in <strong>coupons</strong> and <strong>auction</strong> sites.
            </p>
            <h4>Install via Bower</h4>
            {% highlight bash %}bower install jquery.countdown{% endhighlight %}
            <h4>Features</h4>
            <ul>
                <li>Comprehensive documentation</li>
                <li>Bult-in time formatter</li>
                <li>Zero-pad support to all variables</li>
                <li>Pluralization support</li>
                <li>Internationalization support for pluralization</li>
                <li>Fully tested (since first release)</li>
                <li>HTML and CSS agnostic</li>
                <li>Community support since 2011</li>
            </ul>
        </div>
        <div class="col-md-7">
            <h2>Getting Started</h2>
            <p>
                There are few ways to get started, the simplest example is beside, but we support many different countdown styles.
            </p>
            <p>
                Read our <a href="{{ site.baseurl }}documentation.html">Documentation</a> and follow our <a href="{{ site.baseurl }}examples.html">Examples</a> to see what suits your particular needs.
            </p>
            {%include getting-started.html %}
            {% highlight html linenos %}{%include getting-started.html noJs=true %}{% endhighlight %}
        </div>
    </div>
</div>