---
layout: main
title: The Final Countdown
---
<div class="home-welcome">
  <div class="container">
    <div class="pure-g-r">
      <div class="pure-u-1-2">
        <h1>
          <i class="fa fa-clock-o"></i>
          {{ site.name }}
        </h1>
        <p>
          A simple and html agnostic date countdown plugin for jQuery
          {% include gh-buttons.html %}
        </p>
      </div>
      <div class="pure-u-1-2">
        {% include main-example.html %}
      </div>
    </div>
    <div class="pure-g-r">
      <div class="pure-u-1-1">
        <p>
          <a class="button-xlarge pure-button" href="https://github.com/hilios/jQuery.countdown/releases/download/{{site.plugin_version}}/jquery.countdown-{{site.plugin_version}}.zip" onclick="ga('send', 'event', 'download', 'click');">
            <i class="fa fa-file-zip-o"></i>
            Download {{site.plugin_version}}
          </a>
          <a class="button-xlarge pure-button" href="https://github.com/hilios/jQuery.countdown">
            <i class="fa fa-github-alt"></i>
            View on GitHub
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="home-content container">
  <div class="pure-g-r">
    <div class="pure-u-1-2">
      <article>
        <h2>All countdown styles in one</h2>
        <p class="lead">
          Take control of your DOM, register yours callbacks and start counting!
        </p>
        <p>
          The Final Countdown is a plugin tailored to be used in any layout, without any CSS/HTML dependency. The goal was to fit and mimic differents countdown styles as you see out there in <strong>coupons</strong> and <strong>auction</strong> sites.
        </p>
        <p>
          There are few ways to get started, the simplest example is as shown here, but we support many different countdown styles.
        </p>
        <p>
          Read our <a href="{{site.baseurl}}/documentation.html">Documentation</a> and follow our <a href="{{site.baseurl}}/examples.html">Examples</a> to see what suits your particular needs.
        </p>
        <h4>Features</h4>
        <ul>
          <li>Comprehensive documentation;</li>
          <li>Bult-in time formatter;</li>
          <li>Zero-pad support to all variables;</li>
          <li>Pluralization support;</li>
          <li>i18n aware;</li>
          <li>HTML and CSS agnostic;</li>
          <li>Support since 2011.</li>
        </ul>
      </article>
    </div>
    <div class="pure-u-1-2">
      <article>
        <h2>Getting Started</h2>
        <h4>Install via Bower:</h4>
        <p>
          {% highlight bash %}bower install jquery.countdown{% endhighlight %}
        </p>
        <div class="download">
          <h4>Download files:</h4>
          <p>
            <a class="pure-button" href="https://github.com/hilios/jQuery.countdown/releases/download/{{site.plugin_version}}/jquery.countdown-{{site.plugin_version}}.zip" onclick="ga('send', 'event', 'download', 'click');">
              <i class="fa fa-file-zip-o"></i>
              Download jQuery.countdown.zip
            </a>
          </p>
        </div>
        <h4>Example:</h4>
        <div class="home-countdown-example" id="getting-started"></div>
        {% highlight html linenos %}
<div id="getting-started"></div>
<script type="text/javascript">
  $("#getting-started")
  .countdown("{{site.time|date:'%Y'|plus:1}}/01/01", function(event) {
    $(this).text(
      event.strftime('%D days %H:%M:%S')
    );
  });
</script>
        {% endhighlight %}
      </article>
    </div>
  </div>
  <div class="pure-g-r">
    <div class="pure-u-1-2">
      <article>
        <h2>Get involved</h2>

        <p>
          This is a open source project, so this implicates that relies on you too to get improved.
        </p>
        <p>
          There are many ways to participate, and our GitHub is always open to help you solve your problems. Choose a path and help us to get better:
        </p>

        <dl class="home-get-involved">
          <dd>
            <i class="fa fa-bug"></i>
            <a href="https://github.com/hilios/jQuery.countdown/issues">Report a bug</a>
          </dd>
          <dd>
            <i class="fa fa-code-fork"></i>
            <a href="https://github.com/hilios/jQuery.countdown/pulls">Fix something</a>
          </dd>
          <dd>
            <i class="fa fa-paper-plane-o"></i>
            <a href="https://github.com/hilios/jQuery.countdown/issues">Request or submit features</a>
          </dd>
          <dd>
            <i class="fa fa-support"></i>
            <a href="https://github.com/hilios/jQuery.countdown/issues?state=open">Help others</a>
          </dd>
        </dl>
      </article>
    </div>
    <div class="pure-u-1-2">
      <article>
        <div class="home-video-container">
          <iframe width="560" height="315" src="//www.youtube.com/embed/9jK-NcRmVcw" frameborder="0" allowfullscreen></iframe>
        </div>
      </article>
    </div>
  </div>
</div>

<script type="text/javascript">
  var nextYear = (new Date().getFullYear() + 1) + "/01/01";
  $("#getting-started").countdown(nextYear, function(event) {
    $(this).html(event.strftime('%-w weeks %-d days %Hh %Mm %Ss'));
  });
</script>
