<aside class="examples-list pure-menu pure-menu-open">
  <ul>
    <li class="pure-menu-heading">
      <i class="fa fa-code"></i>
      Examples
    </li>
    {% for example in site.pages %}
    {% if example.category == 'examples' %}
    <li class="{% if example.url == page.url %}pure-menu-selected{% endif %}">
      <a href="{{site.baseurl}}{{example.url}}">
        {{example.title}}
      </a>
    </li>
    {% endif %}
    {% endfor %}
    <li>
      <a href="{{site.baseurl}}/examples.html">
        <i class="fa fa-arrow-circle-left"></i>
        Back
      </a>
    </li>
  </ul>
</aside>
