<div id="countdown">
  Next year in
  <span class="weeks"></span>   weeks
  <span class="days"></span>    days
  <span class="hours"></span>   hours
  <span class="minutes"></span> minutes
  <span class="seconds"></span> seconds
</div>
<script type="text/javascript">
  $('#countdown').countdown("{{ site.time | date: '%Y' | plus:1 }}/01/01", function(event) {
    var $this = $(this);
    for(var key in event.offset) {
      if(event.offset.hasOwnProperty(key)) {
        $this.find('.' + key).html(event.strftime('%' + key));
      }
    }
  });
</script>