<div class="gh-btns">
  <!-- Follow -->
  <iframe src="http://ghbtns.com/github-btn.html?user=hilios&type=follow"
    allowtransparency="true" frameborder="0" scrolling="0" width="120" height="20"></iframe>
  <!-- Watch -->
  <iframe src="http://ghbtns.com/github-btn.html?user=hilios&repo=jQuery.countdown&type=watch&count=true"
    allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
  <!-- Fork -->
  <iframe src="http://ghbtns.com/github-btn.html?user=hilios&repo=jQuery.countdown&type=fork&count=true"
      allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
</div>
