<ul>
  <li {% if page.category contains 'docs' %}class="pure-menu-selected"{% endif %}>
    <a href="{{site.baseurl}}/documentation.html">
      Documentation
    </a>
  </li>
  <li {% if page.category contains 'examples' %}class="pure-menu-selected"{% endif %}>
    <a href="{{site.baseurl}}/examples.html">
      Examples
    </a>
  </li>
  <li {% if page.category contains 'tests' %}class="pure-menu-selected"{% endif %}>
    <a href="{{site.baseurl}}/tests.html">
      Test suite
    </a>
  </li>
  <li class="pure-hidden-tablet">
    <a href="https://github.com/hilios/jQuery.countdown">
      GitHub Project
    </a>
  </li>
  <li class="pure-hidden-tablet">
    <a href="http://plugins.jquery.com/countdown/">
      jQuery Plugins
    </a>
  </li>
</ul>
