/**
 * Base
 */
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  color: #000;
}
body {
  color: #444;
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 300;
  line-height: 1.4em;
}
pre {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  color: #666;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
/**
 * Layout
 */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em 2em;
}
.pure-button i {
  margin-right: 5px;
}
a.pure-button {
  text-decoration: none !important;
}
.gh-btns {
  min-width: 340px;
}
/**
 * Header module
 */
header,
header a,
header .pure-menu a {
  line-height: 3em;
}
header .container {
  padding: 0 2em;
}
header .brand {
  font-size: 110%;
  line-height: 3.2em;
  text-decoration: none;
}
header .brand,
header .brand:link,
header .brand:visited {
  color: #222;
  text-decoration: none;
}
header .brand:hover,
header .brand:active,
header .brand:visited:hover {
  color: #361752;
}
header .nav-toggle {
  float: right;
  z-index: 2;
}
header .nav-toggle .pure-button {
  background-color: transparent;
  border: 1px solid #ddd;
  margin: 0;
}
header .nav-toggle .pure-button i {
  margin: 0;
}
/**
 * Navigation module
 */
@media (max-width: 767px) {
  nav.pure-menu {
    display: none;
  }
  nav.pure-menu.pure-menu-horizontal>ul {
    display: block;
    margin: 0 -2em;
  }
  nav.pure-menu-horizontal li {
    display: block;
    border-top: 1px solid #eee;
  }
}
/**
 * Main module
 */
main a,
main a:link,
main a:visited {
  color: #777;
  text-decoration: underline;
}
main a:hover,
main a:active,
main a:visited:hover {
  color: #000;
  text-decoration: underline;
}
/**
 * Footer module
 */
footer {
  border-top: 1px solid #eee;
  color: #777;
  line-height: 1.8;
  font-size: small;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  display: inline-block;
}
footer li:after {
  content: "   |  ";
}
footer li:last-child:after {
  content: "";
}
footer a,
footer a:link,
footer a:visited {
  color: #444;
  text-decoration: underline;
}
footer a:hover,
footer a:active,
footer a:visited:hover {
  color: #000;
  text-decoration: underline;
}
/**
 * Home module
 */
.home-welcome {
  background-image: linear-gradient(45deg, #361752, #B31B67);
  color: white;
  padding: 2em 0 4em;
  font-size: 125%;
}
.home-welcome h1 {
  color: white;
  line-height: 1em;
}
.home-welcome .countdown {
  /*font-size: 100%;
  line-height: 200%;*/
}
.home-welcome .countdown span {
  background: rgba(255,255,255,0.2);
  border-radius: 2px;
  display: inline-block;
  /*font-size: 200%;*/
  padding: 0 10px;
}
.home-welcome .pure-button {
  background-color: transparent;
  border-radius: 3px;
  border: 2px solid white;
  color: white !important;
  padding: 20px;
  font-size: 125%;
  margin-right: 20px;
  text-decoration: none;
}
@media (max-width: 767px) {
  .home-welcome .pure-button {
    display: block;
    margin-top: 20px;
    margin-right: 0;
  }
}
.home-welcome .pure-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.home-welcome .pure-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}
.home-welcome-example {
  text-align: center;
  line-height: 2em;
  margin: .67em 0;
}
.home-content article {
  padding: 1em;
}
.home-content .pure-u-1-2:first-child article {
  padding-left: 0;
}
.home-content .pure-u-1-2:last-child article {
  padding-right: 0;
}
.home-content .lead {
  font-size: 110%;
}
.home-video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  margin: 0 auto;
  max-width: 854px;
  max-height: 510px;
  overflow: hidden;
}
.home-video-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
