body{
    padding-top: 51px;
}
header h1{
    font-weight: normal;
}
footer{
    border-top: 1px solid #cccccc;
    font-size: 85%;
    margin-top: 20px;
    padding: 40px 0;
}
footer ul{
    display: block;
    padding: 0;
    margin: 10px 0;
}
footer li{
    display: inline-block;
    float: left;
}
footer li:after{
    content: "• ";
    margin: 0 5px;
}
footer li:last-child:after{
    content: "";
}
.navbar{
    background-color: #222222;
    margin-bottom: 0;
}
.jumbotron{
    background-color: #242424;
    background-image: url('../images/background.png');
    border-top: 1px solid #444444;
    color: #ffffff;
}
.jumbotron .btn-primary{
    background-color: transparent;
    border: 1px solid #ffffff;
    line-height: 40px;
    margin-right: 10px;
    margin-top: 50px;
}
.jumbotron .btn-primary:hover{
    background-color: #ffffff;
    color: #000000;
}
.icon-github{
    background-image: url('../images/octocat-icon.png');
    display: inline-block;
    height: 23px;
    width: 28px;
}
/* Getting started example */
.getting-started #simple-countdown{
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    border: 1px solid #cccccc;
    margin: 20px 0;
    padding: 10px 0;
    text-align: center;
}
.getting-started #simple-countdown span{
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    background-color: #333333;
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    padding: 5px;
}