/**
 * Base
 */
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
/**
 * Layout
 */
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 1em 2em;
}
header, header li a {
  line-height: 3em;
}
header > .container {
  padding: 0;
}
footer {
  border-top: 1px solid #eee;
  color: #777;
  line-height: 1.8;
  font-size: 87.5%;
}
footer .gh-btns {
  margin-top: 20px;
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  display: inline-block;
}
footer li:after {
  content: " |";
}
footer li:last-child:after {
  content: "";
}
/**
 * Home module
 */
.home-welcome {
  /*background-image: linear-gradient(45deg, #666666, #3FA8A8);*/
  background-image: linear-gradient(45deg, #361752, #B31B67);
  color: white;
  padding: 80px 0;
  font-size: 125%;
}
.home-welcome .countdown {
  /*font-size: 100%;
  line-height: 200%;*/
}
.home-welcome .countdown span {
  background: rgba(255,255,255,0.2);
  border-radius: 2px;
  display: inline-block;
  /*font-size: 200%;*/
  padding: 0 10px;
}
.home-welcome .pure-button {
  background-color: transparent;
  border-radius: 0;
  border: 3px solid white;
  color: white;
  padding: 20px;
  font-size: 125%;
}
.home-welcome .pure-button:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
