---
layout: default
scrollspy: '#toc'
---
<div class="container page-header">
    <h1>{{ page.title }}</h1>
</div>
<div class="container">
    <div class="row">
        {% if page.toc %}
        <nav id="toc" class="toc col-md-2">
            {% case page.toc %}
            {% when 'anchors' %}
                {% include anchors-toc.html %}
            {% when 'examples' %}
                {% include examples-toc.html %}
            {% endcase %}
        </nav>
        {% endif %}
        <article class="{% if page.toc %}col-md-10{% else %}col-md-12{% endif %}">
            {{ content }}
        </article>
    </div>
</div>