<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/syntax.css">
    <link rel="stylesheet" href="{{ site.url }}/stylesheets/main.css">
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{{ site.url }}/javascripts/jquery.countdown.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">{{ site.nickname }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li {% if page.url == '/documentation.html' %}class="active"{% endif %}>
                    <a href="{{ site.url }}/documentation.html">Documentation</a>
                </li>
                <li {% if page.url == '/examples.html' %}class="active"{% endif %}>
                    <a href="/{{ site.url }}examples.html">Examples</a>
                </li>
                <li>
                    <a href="https://github.com/hilios/jQuery.countdown" target="_blank">Source code</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{ content }}
<footer>
    <p class="container">
        {% include github_buttons.html %}
        <br/>
        <small>
            The Final Countdown (jQuery.countdown) was created and is maintained by <a href="https://github.com/hilios" target="_blank">@hilios</a><br>
            This is a free software is licensed under the <a href="http://opensource.org/licenses/MIT" target="_blank">MIT License</a>
        </small>

    </p>
</footer>
<a href="https://github.com/hilios/jQuery.countdown"><img style="position: absolute; top: 0; right: 0; border: 0; position: fixed; z-index: 1050;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
</body>
</html>
